[help]
	format = html
	autocorrect = 30
[status]
	showUntrackedFiles = all
[alias]
	st = status
[user]
	name = David Resnick
	email = dresnick@salesforce.com
[remote "origin"]
	prune = true
[submodule]
	recurse = true
